/* Adjusted to use relative units for viewport size */


.box .background-gradient {
    background-blend-mode: color;
    background-color: #00b55b29;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}
