@font-face {
    font-family: 'Michroma-Regular';
    src: local('Michroma-Regular'), url('./fonts/michroma/Michroma.ttf') format('truetype');
}
@font-face {
    font-family: 'VALORANT-Regular';
    src: local('VAlLORANT-Regular'), url('./fonts/valorant/Valorant\ Font.ttf') format('truetype');
}


.title {
    font-family: 'Michroma-Regular', sans-serif;
    font-size: 60px;
    color: #e45353;
    text-align: center;
    margin-top: 20px;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.8);
    
}

.subtitle {
    font-family: 'VALORANT-Regular', sans-serif;
    font-size: 24px;
    color: #e45353;
    text-align: center;
    margin-top: 10px;
    text-shadow: 6px 6px 7px rgba(0,0,0,0.8);
}

.login-button {
    margin: 0 2px;      /* Adds horizontal space between buttons */
    padding: 10px 2px;  /* Adds space inside the button */
    border-radius: 8px;  /* Optional: rounded corners */
    font-size: 18px;     /* Optional: larger text */
    display: inline-block; /* Ensures margin works as expected */
}

.dialog-element {
    background-color: #292929;
    color: white;
    font-family: 'Anonymous Pro-Regular', monospace;
}

.custom-dialog-title {
    color: #e45353;
    background-color: #292929;
    font-family: 'Anonymous Pro-Regular', monospace;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

