@font-face {
    font-family: 'Michroma-Regular';
    src: local('Michroma-Regular'), url('./fonts/michroma/Michroma.ttf') format('truetype');
}
@font-face {
    font-family: 'VALORANT-Regular';
    src: local('VAlLORANT-Regular'), url('./fonts/valorant/Valorant\ Font.ttf') format('truetype');
}


.home-page {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-align: center;
}
.home-page .welcome-to-sabine,
.home-page .your-VALORANT-AI {
    position: relative; /* Remove absolute positioning */
    /*left: auto !important;*/
    top: auto !important;
    margin: 10px 0; /* Add some margin for spacing */
    
    
}


.home-page .overlap {
    background-color: #00b55b29;
    height: auto;
    width: 100vw;
    position: relative;
    background-image: radial-gradient(ellipse at center, #0b7e44 00%,  #3c4741 100%);
}

.home-page .heading-text {
    height: 393px;
    left: 208px;
    position: absolute;
    top: 270px;
    width: 1506px;
}

.home-page .overlap-group {
    height: 393px;
    position: relative;
    width: 1508px;

}

.home-page .welcome-text {

    
    position: relative;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.home-page .div {
    height: 393px;
    position: relative;
    width: 1504px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    top: 100px;
    text-align: center;
}

.home-page .welcome-to-sabine {
    color: transparent;
    font-family: "Michroma-Regular", Helvetica;
    font-size: 5vw; /* Relative font size */
    font-weight: 400;
    left: 350px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 10px 9px 0.6px #0000006b;
    top: 0; /* Adjust positioning */
    width: 100%; /* Full width */
    align-self: center;
    
}

.home-page .span {
    color: #ffffff;
}

.home-page .text-wrapper-2 {
    color: #ffffff;
    font-family: "VALORANT-Regular", Helvetica;
}

.home-page .text-wrapper-3 {
    color: #ff4757;
    font-family: "VALORANT-Regular", Helvetica;
}

.home-page .text-wrapper-4 {
    -webkit-text-stroke: 1px #00000080;
    color: #ff4757;
    font-family: "VALORANT-Regular", Helvetica;
    font-size: 96px;
    font-weight: 400;
    left: 1311px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    text-shadow: 10px 9px 0.6px #35583e6b;
    top: 159px;
    white-space: nowrap;
}

.home-page .your-VALORANT-AI {
    -webkit-text-stroke: 1px #000000;
    color: #ffffff;
    font-family: "Michroma-Regular", Helvetica;
    font-size: 2vw; /* Relative font size */
    font-weight: 400;
    left: 400px;
    letter-spacing: 0;
    line-height: normal;
    opacity: 0.93;
    position: absolute;
    text-align: center;
    text-shadow: 0px 4px 4px #0000006e;
    top: 10vh; /* Adjust positioning */
    width: 100%; /* Full width */
    
}

.home-page .text-wrapper-5 {
    color: #ffffff;
    font-family: "Michroma-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
}

.home-page .text-wrapper-6 {
    font-family: "VALORANT-Regular", Helvetica;
}

.home-page .input-field-container {
    display: flex;
    justify-content: center;
    top: 60vh; /* Relative positioning */
    height: auto; /* Adjust height */
    width: 100%; /* Full width */
    position: relative; /* Ensure it takes the full space */
}

.home-page .input-field-instance {
    position: relative; /* Remove absolute positioning */
    left: auto !important;
    top: auto !important;
    
}

.box {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}

.box .background-gradient {
    background-blend-mode: color;
    background-color: #00b55b29;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    left: 0;
    position: fixed;
    top: 0;
   
}
.frame {
    background-color: #ffffff;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    
}
