.input-field {
    background-color: #292929;
    border-radius: 30px;
    box-shadow: 5px 4px 4px #00000082;
    height: 106px;
    position: relative;
    width: 85vw;
    max-width: 1066px; 
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.input-field .text-wrapper {
    color: #ffffff;
    font-family: "Anonymous Pro-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;

    letter-spacing: 0;
    line-height: normal;
    opacity: 0.82;
    position: absolute;
    text-align: center;
    width: '80vw';
    max-width: 1066; 
    margin: 5; 
    padding: 2;
    white-space: nowrap;
}

#fullWidth {
    border-color: 'white';
}
